version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: no
    container_name: chatbot_db
    environment:
      - POSTGRES_DB=chatbot_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports:
      - "5432:5432"